/* base */

@import "./base/reset";
@import "./base/typo";

/* components */

@import "./components/button-mina";
@import "./components/footer-logos";
@import "./components/img-nosotros";
@import "./components/img-home";
@import "./components/nav";
@import "./components/cards-services";
@import "./components/logo-mina";
@import "./components/links";
@import "./components/video";
@import "./components/img-services";

/* layout */

@import "./layout/footer";
@import "./layout/form";
@import "./layout/nosotros";

/* utilities */

@import "./utilities/variables";